# スクリーンショットの push 回避
./bulk-screen-capture-master/collection.media/*

# コピーして backup した時に出現
./bulk-screen-capture-master/collection.media copy/*

*.jpg
*.png

./bulk-screen-capture-master/*
./note-normalization-for-zettelkasten/*
./日本語スクリプトチェック.xlsx
./py*
./Backup/*
